* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Default Config */

:root {
    --main-color: #ffffff;
    --body-color: #f5f5f5;
    --contains-color: #102920;
    --heading-color: #22312b;
    --box-color: #0d2622;
    --bg-color: #ffffff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url(/img/scenary.png);
    background-attachment: fixed;
    background-size: cover;
}

/* Poke Container */

.poke-container {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.poke-container h1 {
    color: #fecb02;
    background: #f90702;
    padding: 0.5rem 0.5rem;
    margin-left: 8px;
    margin-bottom: 1rem;
    width: 157px;
    border-radius: 1rem;
    filter: drop-shadow(0 0 0.25rem #00000080);
}

.backg {
    text-shadow: #376fb5 1px -1px 2px, #376fb5 -1px 1px 2px, #376fb5 1px 1px 2px, #376fb5 -1px -1px 2px;
}

.pokemons {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 1rem;
}

.name {
    margin: 0.25rem 0;
    text-transform: capitalize;
}

.pokemon {
    margin: 0.5rem;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    border: 2px solid #a8a8a8;
    filter: drop-shadow(0 0 0.25rem #00000080);
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail img {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    filter: drop-shadow(0 0 0.25rem #4d2d33);
}

.number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: 0.625rem;
}

.types .type {
    filter: brightness(1.1);
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.800rem;
    border-radius: 1rem;
    text-align: center;
    text-transform: capitalize;
}

/* Button Pagination*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#loadMoreButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #6c79dba4;
    border: none;
    border-radius: 1rem;
    color: var(--bg-color);
    padding: 0.5rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.800rem;
    cursor: pointer;
}

#loadMoreButton .bx {
    font-size: 10px;
}

#loadMoreButton:hover {
    transform: scale(1.2);
    transition: 0.3s all linear cubic-bezier(0.075, 0.82, 0.165, 1);
    background: #6c79dbcb;
}

/* Button Up */


.back-up .bx {
    position: fixed;
    bottom: 15px;
    right: 50px;
    background: rgba(108, 121, 219, 0.643);
    border: none;
    border-radius: 1rem;
    color: var(--bg-color);
    padding: 0.45rem 0.5rem;
    margin: 0.25rem 0px;
    font-size: 1.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.back-up .bx:hover {
    transform: scale(1.2);
    background: #6c79dbcb;
    transition: 0.3s all linear;
}

.pokemon-btn{
    position: relative;
    bottom: -3%;
    left: 28%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 6.5rem;
    height: 2.4rem;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 0px;
    color: #fff;
    font-size: 0.938rem;
    transition: 0.3s all linear;
}
.pokemon-btn:hover{
    transform: scale(1.1);
    transition: 0.3s all linear;
}

/* Pokemons Config */
.content .closeButton, .config #btn-pokedetails, #config-id {
    display: none;
}

.pokemon-btn{
    cursor: pointer;
}

.config{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
}
#configpoke {
    position: relative;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 1rem;
    padding: 0rem 0rem;
}
#configpoke .number {
    position: absolute;
    left: 2%;
    top: 2%;
    font-size: 2rem;
}
#configpoke .name{
    position: absolute;
    top: 6%;
    color: #fff;
}
#configpoke .poke-img{
    position: absolute;
    top: 13%;
    right: 25%;
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 30px -11px inset rgb(0 0 0 / 80%);
    border-radius: 2rem;
}
#configpoke .detail img {
    width: 200px;
    height: 200px; 
}
#configpoke .types{
    position: absolute;
    left: 33%;
    top: 58%;
    display: flex;
    padding: 0.2rem;
    border-radius: 2rem;
    color: #fff;
}
#configpoke .type{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
}
button#closeBtn {
    display: none;
}
#configpoke button#closeBtn{
    display: flex;
    position: absolute;
    top: 2.5%;  
    right: 4%;
    color: #000000;
    opacity: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    background: none;
    border: 1px dashed #000000;
    border-radius: 50%;
    transition: 0.3s all linear;
}
#configpoke button#closeBtn:hover{
    scale: 1.1;
    transition: 0.3s all linear;
    opacity: 100%;
}

.poke-stats{
    display: none;
}
#configpoke .poke-stats{
    position: absolute;
    bottom: 2%;
    display: flex;
}
#configpoke .poke-stats li{
    margin: 4px;
    text-align: left;
    font-size: 1rem;
    color: #fff;
}
#configpoke .poke-stats{
    background: #ffffff25;
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 1fr;
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: 90%;
    height: 175px;
    margin: 0;
}

@keyframes pokeBar {
    from{
        width: 0;
    }
    to { 
        width: content;
    }
}
.poke-bar{
    background-color: #ffffff;
    border-radius: 1rem;
    border: 1px solid #e3e3e3;
    object-fit: cover;
}
.bar{
    border-radius: inherit;
    animation: pokeBar 1.5s;
}

.bar-hp{
    background-color: green;
    max-width: 100%;
}
.bar-atk{
    background-color: rgb(231 21 21);
    max-width: 100%;
}
.bar-def{
    background-color: #d66b13;
    max-width: 100%;
}
.bar-satk{
    background-color: rgb(173, 5, 5);
    max-width: 100%;
}
.bar-sdef{
    background-color: rgb(121, 41, 157);
    max-width: 100%;
}
.bar-spd{
    background-color: rgb(73, 114, 235);
    max-width: 100%;
}
.stats-board li:hover{
    color: #ffffff;
}

/* Responsive */

@media(min-width:250px){
    .pokemons {
        grid-template-columns: 1fr;
    }
    .config {
        right: 0;
    }
    #configpoke {
        width: 95%;
        height: 95%;
        top: 4%;
        margin: 0 auto;
    }
    #configpoke .poke-img {
        width: 80%;
        height: 40%;
        right: 10%;
    }
    #configpoke .detail img {
        width: 80%;
        height: 80%;
    }
    #configpoke .types {
        left: 16%;
        top: 54%;
    }
    #configpoke .type {
        font-size: 0.825rem;
    }
    #configpoke .poke-stats {
        padding: 0.225rem 0.5rem;
        bottom: 3%;
    }
    #configpoke .poke-stats li {
        font-size: 0.725rem;
        width: 86%;
        height: 53%;
    }
}

@media(min-width:310px) {

    .poke-container {
        padding: 0;
        height: 100vh;
        margin: 0;
    }

    .pokemons {
        grid-template-columns: 1fr;
    }

    .detail img {
        height: 100px;
    }

    .name {
        margin: 0.15rem 0;
        font-size: 1.4rem;
    }

    .types .type {
        margin: 0.25rem 0;
        font-size: 1rem;
    }

    .pokemons {
        grid-template-columns: 320px;
    }

    .back-up .bx {
        bottom: 5px;
        right: 10px;
        padding: 0.25rem 0.2rem;
        margin: 0.25rem 0;
        font-size: 1.3rem;
    }
}

@media(min-width:360px) {
    .poke-container {
        padding: 0.5rem;
    }

    .pokemons {
        grid-template-columns: 1fr;
    }

    .detail img {
        height: 100px;
    }

    .number {
        font-size: 0.725rem;
    }

    .name {
        margin: 0.15rem 0;
        font-size: 1.5rem;
    }

    .types .type {
        font-size: 1rem;
    }

    .back-up .bx {
        right: 3px;
        padding: 0.25rem 0.2rem;
        margin: 0.25rem 0;
        font-size: 1.3rem;
    }
}

@media(min-width:420px) {
    .poke-container {
        padding: 0px;
    }

    .pokemons {
        grid-template-columns: auto auto;
    }

    .number {
        font-size: 0.725rem;
    }

    .types .type {
        font-size: 0.700rem;
    }

    .detail img {
        height: 80px;
    }

    .back-up .bx {
        right: 1px;
    }
    .config {
        width: 100%;
        height: 100%;
    }
    #configpoke .poke-stats li {
        font-size: 0.925rem;
        width: 90%;
        height: 68%;
    }
    #configpoke .types {
        left: 30%;
    }
    #configpoke .type {
        font-size: 1.5rem;
    }
}

@media(min-width:455px){
    .pokemons {
        grid-template-columns: auto auto;
    }
    .detail img {
        height: 100px;
    }
}

@media(min-width:550px) {
    .pokemons {
        grid-template-columns: auto auto;
    }
    .poke-container {
        padding: 5px;
    }
    .detail img {
        height: 100px;
    }
}

@media(min-width:750px) {
    .pokemons {
        grid-template-columns: auto auto auto;
    }

    .detail img {
        height: 100px;
    }

    .types .type {
        font-size: 0.900rem;
    }

    .back-up .bx {
        right: 1px;
    }
}

@media(min-width:992px) {
    .poke-container {
        max-width: 992px;
        margin: 0 auto;
    }

    .pokemons {
        grid-template-columns: auto auto auto;
    }

    .detail img {
        height: 120px;
    }

    .back-up .bx {
        right: 5px;
    }

}

@media(min-width:1010px) {
    .poke-container {
        margin: 0 auto;
        padding: 10px;
    }

    .pokemons {
        grid-template-columns: auto auto auto auto;
    }

    .detail img {
        height: 120px;
    }

    .back-up .bx {
        position: fixed;
        bottom: 15px;
        right: 50px;
        background: rgba(108, 121, 219, 0.643);
        border: none;
        border-radius: 1rem;
        color: var(--bg-color);
        padding: 0.45rem 0.5rem;
        margin: 0.25rem 0px;
        font-size: 1.5rem;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:1400px) {
    .poke-container {
        max-width: 1240px;
        margin: 0 auto;
        padding: 40px;
    }

    .pokemons {
        grid-template-columns: auto auto auto auto;
    }

    .name {
        font-size: 1.8rem;
    }

    .types .type {
        font-size: 1rem;
    }

    .detail img {
        height: 120px;
    }

    .back-up .bx {
        position: fixed;
        bottom: 15px;
        right: 50px;
        background: rgba(108, 121, 219, 0.643);
        border: none;
        border-radius: 1rem;
        color: var(--bg-color);
        padding: 0.45rem 0.5rem;
        margin: 0.25rem 0px;
        font-size: 1.5rem;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .back-up .bx:hover {
        transform: scale(1.2);
        background: #6c79dbcb;
        transition: 0.3s all linear;
    }
}