/* Button Pagination*/

.btn-load {
    margin: 3rem auto 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.85rem 2.2rem;
    border-radius: 999px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);

    border: 1px solid var(--glass-border);
    box-shadow: var(--glass-shadow);

    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: rgba(60, 60, 60, 0.85);

    cursor: pointer;
    transition:
        transform 0.2s ease,
        background 0.2s ease,
        box-shadow 0.2s ease;
}

.btn-load:hover {
    transform: translateY(-3px);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 16px 36px rgba(0, 0, 0, 0.22);
}

.btn-load:active {
    transform: scale(0.96);
}

.btn-load:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transition: tranform 0.2s ease,
        background 0.2s ease,
        box-shadow 0.2s ease,
        opacity 0.2s ease;
}

.btn-load:disabled:hover {
    transform: none;
    box-shadow: var(--glass-shadow);
    background: rgba(255, 255, 255, 0.25);
}