/* Pokedex End */

.pokedex-end {
    margin: 1rem auto 4rem;
    padding: 1.5rem 1rem;

    max-width: 520px;
    text-align: center;

    font-size: 1.15rem;
    letter-spacing: 0.3px;
    font-weight: 600;

    color: rgba(0, 0, 0, 0.7);

    position: relative;

}

.pokedex-end::before,
.pokedex-end::after {
    content: "";
    display: block;

    width: 200px;
    height: 2px;
    margin: 0.9rem auto;

    background: var(--main-gradient);
    border-radius: 2px;
    opacity: 0.85;
}

.pokedex-end::before {
    margin-bottom: 1rem;
}

.pokedex-empty {
    margin: 3rem auto 4rem;
    padding: 1.5rem 1rem;

    max-width: 520px;
    text-align: center;

    font-size: 1.15rem;
    letter-spacing: 0.3px;
    font-weight: 600;

    color: rgba(0, 0, 0, 0.7);

    position: relative;
}

.pokedex-empty h3 {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.pokedex-empty p {
    font-size: 0.9rem;
    opacity: 0.9;
}

.pokedex-empty::before,
.pokedex-empty::after {
    content: "";
    display: block;

    width: min(275px, 60%);
    height: 2px;
    margin: 0.9rem auto;

    background: var(--accent-gradient);
    border-radius: 2px;
    opacity: 0.85;
}