/* POKEMON CARD */

.pokemon-card * {
    pointer-events: none;
}


.pokemon {
    width: 100%;
    max-width: 100%;
    border-radius: 1.6rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: opacity 0.45s ease,
        transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
        box-shadow 0.25s ease,
        filter 0.25s ease;
    opacity: 0;
    transform: translateY(16px);
}

.pokemon.show {
    opacity: 1;
    transform: translateY(0);
}

.pokemon:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.18);
}

.pokemon:hover .pokemon-image {
    transform: translateX(5px) scale(1.05);
}

.pokemon:hover .pokeball-bg {
    opacity: 0.12;
    transform: translateY(-20px) scale(1.05);
}

.pokemon:active {
    transform: translateY(-2px) scale(0.99);
}

/* layout interno */
.pokemon-card {
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 180px;

    padding: 1.4rem 1.4rem;
    position: relative;
}

/* INFO */
.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;

    z-index: 2;
    max-width: 65%;
}

.pokemon-name {
    font-size: 1.55rem;
    font-weight: 800;
    line-height: 1.15;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.95);
}

/* TYPES */
.pokemon-types {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.pokemon-types .type {
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.3rem 0.75rem;
    border-radius: 999px;

    background: rgba(0, 0, 0, 0.071);
    color: rgba(255, 255, 255, 0.9);
    width: fit-content;
}

/* VISUAL */
.pokemon-visual {
    position: absolute;

    right: 1rem;
    bottom: 15px;

    width: 120px;
    height: 120px;

    pointer-events: none;
}


/* pokeball background */
.pokeball-bg {
    position: absolute;
    width: 70%;
    right: -15%;
    bottom: -45%;
    background: url("../../assets/img/pokeball-background.png") no-repeat center;
    background-size: contain;
    opacity: 0.12;
    z-index: 1;
    transition: opacity 0.25s ease,
        transform 0.25s ease;
}



/* pokemon image */
.pokemon-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    transition: transform 0.25s ease;
    transform: scale(1);
}

.official {
    transform: scale(1.1);
}

.pixel {
    transform: scale(1.3);
    image-rendering: pixelated;
    filter: contrast(1.2) saturate(0.7) hue-rotate(20deg);
}

.pokemon:hover .pixel {
    transform: translateX(5px) scale(1.4);
}