/* Button Up */


.btn-up {
    position: fixed;
    right: 24px;
    bottom: 24px;

    width: 46px;
    height: 46px;

    border-radius: 50%;
    border: none;

    background: rgba(255, 255, 255, 0.397);
    backdrop-filter: blur(10px);

    color: #333;
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.18);

    opacity: 0;
    pointer-events: none;
    transform: translateY(12px);

    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
    z-index: 100;
}

/* visível */
.btn-up.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.btn-up:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 32px rgba(0, 0, 0, 0.25);
}

.btn-up:active {
    transform: translateY(-1px);
}


.btn-up:focus-visible {
    outline: 2px solid var(--main-gradient);
    outline-offset: 4px;
}