/* BASE */
@import "./base.css";
@import "./layout.css";

/* UI */
@import "./navbar.css";
@import "./filters.css";
@import "./pokedex.css";
@import "./modal.css";

/* COMPONENTS */
@import "./components/pokemon-cards.css";
@import "./components/buttons.css";
@import "./components/empty-state.css";
@import "./components/scroll-button.css";

/* RESPONSIVE */
@import "./responsive.css";