@media (max-width: 768px) {
    .poke-container {
        padding: 1rem;
    }

    #pokemonList {
        gap: 1rem;
    }

    .pokemon-visual {
        height: 120px;
    }

    .config-card {
        width: 100%;
        height: 100dvh;
        border-radius: 20px 20px 0 0;
        overflow-x: hidden;
        overflow-y: auto;
        animation: slideUp 0.3s ease;
        display: flex;
        flex-direction: column;
    }

    .config-header {
        flex: 0 0 auto;
        height: clamp(380px, 55vh, 460px);
        padding: 1.5rem 1.5rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }

    .header-meta {
        margin-bottom: 5rem;
    }

    .pokemon-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        margin-bottom: -55px;
    }

    .pokemon-wrapper img {
        width: 220px;
        max-height: 220px;
        height: auto;
        object-fit: contain;
    }

    .config-body {
        flex: auto;
        border-radius: 2rem 2rem 0 0;
        padding: 2.3rem 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .stats {
        margin-top: 1.5rem;
        gap: 1.2rem;
    }

    .stat {
        font-size: 1rem;
    }

    .poke-bar {
        height: 9px;
    }

    .pokeball-bg {

        width: 320px;
        height: 320px;
        opacity: 0.08;
    }


    /* MOBILE*/
    .modal-prev,
    .modal-next {
        display: none;
    }

}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width: 480px) {
    #pokemonList {
        grid-template-columns: 1fr;
    }

    .pokemon-visual {
        height: 110px;
    }
}